In [2]:
import pandas as pd
import numpy as np

In [3]:
true= pd.read_csv('dataset/True.csv')
fake= pd.read_csv('dataset/Fake.csv')

In [4]:
true['label']=1
fake['label']=0

In [5]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
news=pd.concat([true,fake],axis=0)

In [7]:
news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
news.tail()

,title,text,subject,date,label
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [9]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [10]:
news=news.drop(['title','subject','date'],axis=1)

In [11]:
news.head()

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [12]:
news=news.sample(frac=1) # shuffling the dataset
news.head()

                                                    text  label
7002   The winning streak continues for Bernie Sander...      0
2887   Donald Trump and his team are getting absolute...      0
15731  It s interesting that Josh Earnest still carri...      0
5905   On Sunday morning, Americans awoke to the news...      0
71     Senator John McCain (R-AZ) was treated at Walt...      0

In [13]:
news.reset_index(inplace=True)

In [14]:
news.head()

   index                                               text  label
0   7002  The winning streak continues for Bernie Sander...      0
1   2887  Donald Trump and his team are getting absolute...      0
2  15731  It s interesting that Josh Earnest still carri...      0
3   5905  On Sunday morning, Americans awoke to the news...      0
4     71  Senator John McCain (R-AZ) was treated at Walt...      0

In [15]:
news.drop(['index'], axis=1, inplace=True)

In [16]:
news.head()

                                                text  label
0  The winning streak continues for Bernie Sander...      0
1  Donald Trump and his team are getting absolute...      0
2  It s interesting that Josh Earnest still carri...      0
3  On Sunday morning, Americans awoke to the news...      0
4  Senator John McCain (R-AZ) was treated at Walt...      0

In [17]:
import re # regular experience library of python

In [18]:
def clean_text(text):
    #lowercase text
    text= text.lower()
    # removing any url
    text= re.sub(r'https?://\S+|www\.S+','',text)
    # removing html tags
    text= re.sub(r'<.*?>','',text)
    #removing punctuation
    text= re.sub(r'[^\w\s]','',text)
    #removing digits
    text= re.sub(r'\d','',text)
    #removing newline character
    text= re.sub(r'\n','',text)

    return text

In [19]:
news['text']=news['text'].apply(clean_text)

In [20]:
news['text']

0        the winning streak continues for bernie sander...
1        donald trump and his team are getting absolute...
2        it s interesting that josh earnest still carri...
3        on sunday morning americans awoke to the news ...
4        senator john mccain raz was treated at walter ...
                               ...
44893    reuters  a longtime political adviser to hilla...
44894    katie couric took to twitter to call out charl...
44895
44896    washington reuters  while he has swallowed a b...
44897    sydney reuters  refugees have left one of aust...
Name: text, Length: 44898, dtype: object

In [21]:
x= news['text']
y=news['label']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=32)

In [23]:
x_train.shape

(35918,)

In [24]:
x_test.shape

(8980,)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
vectorization= TfidfVectorizer()

In [27]:
xv_train= vectorization.fit_transform(x_train)

In [28]:
xv_test=vectorization.transform(x_test)

In [29]:
xv_train

<35918x187446 sparse matrix of type '<class 'numpy.float64'>'
	with 7388721 stored elements in Compressed Sparse Row format>

In [30]:
import matplotlib.pyplot as plt

In [31]:
# from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
# matrix=confusion_matrix(y_test,y_pred)
# display=ConfusionMatrixDisplay(matrix)
# plt.show(display)

In [32]:
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier()

In [33]:
classifier.fit(xv_train,y_train)

DecisionTreeClassifier()

In [34]:
classifier.score(xv_test,y_test)

0.9969933184855234